{% extends 'base.html'%}
{% load static %}


{% block title %}
	<title>onlineduka | paid jobs</title>
{% endblock %}

{% block customStyles%}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/shop_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/shop_responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/product_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/cart_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/cart_responsive.css' %}">
{% endblock%}

{% block content %}
	<!-- Cart -->

	<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						{% for paidJob in paidJobs %}
						<div class="cart_title">Group</div>
						{% for cart in paidJob.cart_set.all %}
						<div class="cart_items">
							<ul class="cart_list">
								<li class="cart_item clearfix">
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_name cart_info_col">
											<div class="cart_item_title">Customer</div>
											<div class="cart_item_text">{{cart.customer.name}}</div>
										</div>
						<!-- 				<div class="cart_item_color cart_info_col">
											<div class="cart_item_title">Color</div>
											<div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
										</div> -->
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_title">Order Amount</div>
											<div class="cart_item_text">{{cart.total}}</div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title">Earn</div>
											<div class="cart_item_text">Kshs {{cart.agentEarn}}</div>
										</div>
						
									</div>
								</li>
							</ul>
						</div>
						{% endfor %}
						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">Total: Earn</div>
								<div class="order_total_amount">Kshs {{paidJob.total}}</div>
							</div>
						</div>
						{% endfor %}
					
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block customScripts %}
	<script type="text/javascript" src="{% static 'js/cart_custom.js'%}"></script>
{% endblock %}