{% extends 'base.html' %}
{% load static%}
{% block title %}
	<title>onlineduka | reset password</title>
{% endblock %}
{% block customStyles %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'styles/shop_styles.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/slick-1.8.0/slick.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/slick-1.8.0/slick-theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'styles/shop_responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/product_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/
	product_responsive.css' %}"> -->

{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div align="center">
					<h2>Reset your password</h2>		
				</div>
				
				<form method="post" class="form-group">
					{% csrf_token %}
					<label>Enter your email</label>
					<input type="email" name="email" class="form-control" placeholder="Email">
					<br>
					<button type="submit" class="btn btn-primary"> Send confiramtion link</button>
				</form>
			</div>
		</div>
	</div>
{% endblock%}
{% block customScripts %}
<!-- 	<script src="{% static 'js/shop_custom.js' %}"></script>
	<script src="{% static 'js/product_custom.js' %}"></script> -->
	<script src="{% static 'plugins/slick-1.8.0/slick.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}